<div [@routerTransition]>
  <app-page-header [heading]="'Sucursales'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <br>
      <div class="form-group input-group">
        <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
        <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <br>
      </div>        
    </div>
  </div>
  <div class="container-fluid">
    <ng2-smart-table class="table-responsive" [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
  </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="row-xs alert aprobado">
                Sucursales <strong>aprobados!</strong>
            </div>
            <div class="row-xs alert noaprobado">
                Sucursales <strong>no aprobados!</strong>
            </div>
        </div>
    </div>
</div>