<div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
        <!-- Nav tabs -->
        <ngb-tabset class="nav nav-tabs profile-tab">
            <ngb-tab >
                <ng-template ngbTabTitle><b>Datos</b></ng-template>
                <ng-template ngbTabContent>
                    <div class="card-body">
                        <!-- <app-data></app-data> -->
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab >
                <ng-template ngbTabTitle><b>Funciones</b></ng-template>
                <ng-template ngbTabContent>
                    <div class="card-body">
                        <!-- <app-funciones></app-funciones> -->
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset> 
    </div>
</div>
