<div [@routerTransition]>
    <app-page-header [heading]="'Categoría'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
             <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Descripción</span>
                    <input name="descripcion" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.descripcion" #descripcion="ngModel">
                </div>
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                    <div *ngIf="descripcion.errors.required">
                        Descripción obligatorio.
                    </div>
                    <div *ngIf="descripcion.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                    <div *ngIf="descripcion.errors.maxlength">
                        La longitud máxima es de 100 caracteres.
                    </div>
                </div>
            </fieldset><!---->
	
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="guardar(content)">Guardar</button>
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar(content)">Eliminar</button>
        </form>
		<div class="card-block">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>