<div [@routerTransition]>
    <app-page-header [heading]="'Publicidad'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Sponsor</span>
                <select name="idsponsor" class="form-control" [(ngModel)]="selectedEntity.idsponsor" required
                    #idsponsor="ngModel">
                    <option *ngFor="let instance of dataSponsors" [value]="instance.id" [selected]="instance.id === selectedEntity.idsponsor">{{instance.razonsocial}}</option>
                </select>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha de inicio</span>
                <input name="fecinicio" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fecInicio"
                    ngbDatepicker #fecinicio="ngbDatepicker">
                <div class="input-group-addon" (click)="fecinicio.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha de fin</span>
                <input name="fecfin" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fecFin" ngbDatepicker
                    #fecfin="ngbDatepicker">
                <div class="input-group-addon" (click)="fecfin.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Url</span>
                    <input name="url" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.url"
                        #url="ngModel">
                </div>
                <div *ngIf="url.invalid && (url.dirty || url.touched)" class="alert alert-danger">
                    <div *ngIf="url.errors.required">
                        Url obligatorio.
                    </div>
                    <div *ngIf="url.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                    <div *ngIf="url.errors.maxlength">
                        La longitud máxima es de 100 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <a (click)="file.click()">
                    <img class="img-thumbnail" [src]="selectedEntity.imagen != null ? selectedEntity.imagen : 'https://placehold.it/380x130'"
                        alt="Imagen no disponible" height="180" width="180">
                </a>
                <br>
                <input type="file"
                    (change)="fileChange($event)" 
                    placeholder="Upload file" accept=".png,.jpg,.bmp"
                    #file>
            </fieldset>

            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="guardar(content)">Guardar</button>
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar(content)">Eliminar</button>
        </form>
        <div class="card-block">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
