<div [@routerTransition]>
    <app-page-header [heading]="'Evento'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <hr>
    <form role="form" #mainForm="ngForm">
        <div class="form-group input-group container">
            <img class="img-fluid mx-auto d-block" 
                [src]="selectedEntity.imagen != null ? selectedEntity.imagen : 'https://placehold.it/600x100'" alt="Random first slide" height="50px">
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">ID</span>
                    <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                    <ng-template #nuevo>Nuevo</ng-template>
                    <ng-template #existente>{{selectedEntity.id}}</ng-template>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Nombre</span>
                    <p class="form-control"><span>{{selectedEntity.nombre}}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Descripción</span>
                    <p class="form-control"><span>{{selectedEntity.descripcion}}</span></p>
                </div>
                <fieldset class="form-group">
                    <span class="input-group-addon">Pendiente Aprobación</span>
                        <label class="radio">
                            <input type="radio"
                                name="dirty"
                                [checked]="isPendiente()"
                                (click)="setAprobado(0)"
                                value="0"> Pendiente
                        </label>
                        <label class="radio">
                            <input type="radio"
                                name="dirty"
                                [checked]="isAprobado()"
                                (click)="setAprobado(1)"
                                value="1"> Aprobado
                        </label>
                </fieldset>
            </div>
            <div class="col-sm-6 col-sm-pull-6"> 
                <div class="form-group input-group">
                    <span class="input-group-addon">Ubicación</span>
                    <p class="form-control"><span>{{selectedEntity.ubicacion}}</span></p>
                </div> 
                <div class="form-group input-group">
                    <span class="input-group-addon">Fecha de inicio</span>
                    <p class="form-control"><span>{{selectedEntity.fecinicio}}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Empresa</span>
                    <p class="form-control"><span>{{selectedEntity.razonsocial}}</span></p>
                </div>
            </div>
        </div>
        <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="guardar(content)">Guardar</button>
    </form>
    <div class="card-block">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
            </div>
        </ng-template>
    </div>
</div>
